@font-face {
  font-family: 'Bullet Regular';
  src: url('./fonts/bullet-regular.ttf') format('truetype');
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: url('./img/tło2.png');
  background-repeat: repeat-y;
  background-color: rgba(0, 0, 0, 0.9);
  background-size: 100%;
}

a {
  color: white;
}

#p {
  text-align: center;
  font-size: large;
}

b {
  font-size: large;
}

h1 {
  text-align: center;
  color: rgba(255, 255, 255, 0.966);
  text-shadow: 6px 5px 6px black;
  font-family: 'Bullet Regular';
}

h2,
h3 {
  text-align: center;
  color: rgba(255, 255, 255, 0.966);
}

h5,
h4 {
  text-align: center;
  color: #ffff;
  margin: 0%;
}

.sign {
  color: white;
  text-align: right;
  margin-right: 20px;
}

.title {
  text-align: center;
  color: rgba(255, 255, 255, 0.966);
  font-size: x-large;
}

.main-section {
  background: url(img/logo1.png);
  background-repeat: no-repeat;
  background-position: center;
  color: rgba(255, 255, 255, 0.966);
  background-color: rgba(255, 255, 255, 0.2);
  background-size: 90%;
  width: 70%;
  margin: auto;
  text-align: center;
  padding-top: 20px;
}

.main-section-2 {
  background-color: rgba(255, 255, 255, 0.2);
  background-size: 90%;
  width: 70%;
  margin: auto;
  text-align: center;
  padding-top: 20px;
}

.button-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 20px;
  padding-top: 10px;
}

hr {
  border: 1px solid rgba(255, 255, 255, 0.784);
  padding: 0px;
  width: 80%;
}

button {
  background-color: white;
  color: black;
  padding: 10px 20px;
  margin: 5px;
  border: none;
  cursor: pointer;
  border-radius: 15px;
  min-width: 150px;
  min-height: 50px;
}

#glow:hover {
  background-color: #5947fc8c;
}

button:hover {
  background-color: #ddd;
}

.warning-container {
  color: white;
  margin-left: 100px;
  margin-right: 100px;
}

#madeBy {
  color: white;
  text-align: center;
  font-size: 15px;
}

.introduction-contaner {
  color: white;
  margin-left: 100px;
  margin-right: 100px;
}

.img-container {
  width: 100%;
}

.img-contaner-2 {
  width: 50%;
}

#img-1 {
  width: 60%;
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

#img-2 {
  width: 45%;
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  transition: transform 0.3s ease;
}
#img-3 {
  width: 45%;
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  transition: transform 0.3s ease;
}

#gif-1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.galeria {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.zdjecie {
  width: 49%;
  height: auto;
  cursor: pointer;
}

.zdjecie:hover {
  transform: scale(1.1);
}

.powiekszone-zdjecie {
  display: none;
  position: fixed;
  padding-top: 80px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 999;
  text-align: center;
}

.powiekszenie {
  max-width: 80%;
  max-height: 80%;
  margin: auto;
  display: block;
}

.zamknij {
  color: white;
  font-size: 30px;
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
}

.zdjecie-container {
  position: relative;
  display: inline-block;
  margin-right: 5px; /* Odstęp między zdjęciami (możesz dostosować według potrzeb) */
}

.zdjecie-container img {
  display: block;
  width: 400px; /* Szerokość zdjęć (możesz dostosować według potrzeb) */
}

.tekst {
  position: absolute;
  font-family: sans-serif;
  bottom: 10px; /* odstęp od dolnej krawędzi zdjęcia */
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px 2px;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.zdjecie-container:hover .tekst {
  opacity: 1;
}

.icon-container {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.icon-button {
  margin: 10px 10px;
  margin-bottom: 0;
}

.icon-button img {
  width: 50px;
  height: auto;
  cursor: pointer;
  opacity: 0.5;
}

.img-cintaner {
  position: relative;
  display: inline-block;
}

#glow {
  /* make a mjutton on rigst top */
  font-size: medium;
  position: absolute;
  top: 2%;
  right: 0;
  background-color: rgba(0, 0, 0, 0);
  border: black solid 1px;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.button {
  position: absolute;
  top: 79%;
  left: 68%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  background-color: none;
  color: none;
  text-decoration: none;
  font-family: Arial, sans-serif;
  font-size: 16px;
  border-radius: 5px;
}

.button:hover {
  transform: scale(1.1);
}
.container {
  max-width: 600px;
  margin: 20px auto;
  color: #000000;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.name {
  text-align: center;
  color: #ffffff;
  background-color: #768ed7;
  margin-top: 0;
  margin-bottom: 0;
  user-select: none;
  cursor: pointer;
}
.hidden {
  display: none;
}

table {
  width: 100%;
  border-collapse: collapse;
}
th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  border-top: 1px solid #ddd;
}
th {
  background-color: #f2f2f2;
  width: 30%;
}
td {
  width: 70%;
}

.expand-icon {
  display: inline-block; /* Lub display: block, w zależności od potrzeb */
  transform-origin: center; /* Ustawienie punktu początkowego transformacji */
  transition: transform 0.5s ease; /* Dodanie płynności dla transformacji */
}

/* Animacja dla rozwijania i zwijania tabeli */
@keyframes expandTable {
  0% {
    max-height: 0;
    opacity: 0;
  }
  100% {
    max-height: 1000px; /* Dostosuj maksymalną wysokość do potrzeb */
    opacity: 1;
  }
}

/* Styl dla ukrytej tabeli */
.hidden {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.5s ease, opacity 0.5s ease; /* Dodaj płynność do animacji */
}

/* Styl dla widocznej tabeli */
.visible {
  max-height: 1000px; /* Dostosuj maksymalną wysokość do potrzeb */
  opacity: 1;
  animation: expandTable 0.5s ease; /* Dodaj animację */
}

/* Pasek przewijania */
::-webkit-scrollbar {
  width: 10px; /* Szerokość paska przewijania */
}

/* Ścieżka paska przewijania */
::-webkit-scrollbar-track-piece {
  background-color: #f2f2f2; /* Kolor tła ścieżki paska przewijania, dopasuj do tła strony */
  border-radius: 5px; /* Zakrąglenie krawędzi ścieżki */
}

/* Kciuk paska przewijania */
::-webkit-scrollbar-thumb {
  background-color: #888; /* Kolor kciuka paska przewijania */
  border-radius: 5px; /* Zakrąglenie kciuka paska przewijania */
}

/* Hover nad kciukiem paska przewijania */
::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Kolor kciuka paska przewijania po najechaniu */
}
